footer#footer.footer 
        section.superCenterer.w100
            article.row.w100.max1120
                div.superCenterer.col-sm-12
                    h1.zPMb.mt-5
                        i.--f4.textSize48 Le
                        span.textLogofy.textSize48 Bistro
                    h3.--f5.zPMt
                        i only at 
                        | Waterbury Hill!
                    small.centerTextAlign
                       h3.textSize15.mb-4 Monday — Sunday<br>6a - 3p / 6p - 9:30p |&shy; Tel: (360) 681-0202
                gutter.col-sm-1.block
                    img.footerCardImg.footerCardKnifeAndSpoon(src='/images/knifeAndSpoon.png')
                item.col-sm-3.footerCard.block
                    h4.textShadow Waterbury Hill Properties
                    ul.footerList  
                        li
                            a(href='') Coyote Covert
                        li
                            a(href='') The East Bell
                        li
                            a(href='') Le Bistro
                        li
                            a(href='') SCXN Web Solution
                        li
                            a(href='') Niue Company
                        li
                            a(href='') Olympic Master and Apprentice OMaA
                        li
                            a(href='') New Factory
                        li
                            a(href='') Old Friends
                item.col-sm-3.footerCard.block
                    h4.textShadow What's on The Menu?
                    ul.footerList
                        li
                            a(href='/menus/breakfast') Breakfast
                        li
                            a(href='/menus/lunch') Lunch
                        li
                            a(href='/menus/dinner') Dinner
                        li
                            a(href='/menus/dinner#appetizers') Appetizers
                        li
                            a(href='/menus/dinner#wine') Wine
                        li
                            a(href='/menus/dinner#beer') Beer
                        li
                            a(href='/menus/dinner#desserts') Dessert
                item.col-sm-3.footerCard.block
                    h4.textShadow Remain in-touch
                    ul.footerList
                        li
                            a(href='https://lebistro.tumblr.com/') Tumblr
                        li
                            a(href='https://t.me/starbucks/62') Telegram
                        li
                            a(href='https://www.gab.com/a') Gab
                        li
                            a(href='https://www.facebook.com/Starbucks') Facebook
                        li
                            a(href='mailto:k_lavatai@yahoo.com') Email
                        li
                            a(href='https://twitter.com/home') Twitter
                gutter.col-sm-1.block
                    img.footerCardImg.footerCardFork(src='/images/fork.png')
                aside.col-sm-12
                    h2#copyrightStatement.copyrightStatement.textSize9.mt-3 Homestead & Crafter's Studio &shy;| Olympic Peninsula, WA, USA<br>Copyright 2022 Waterbury Hill.&shy; All rights reserved.