
header#headingAlt.headingAlt
    section
      article.superCenterer
        img(src='/images/leBistro_logo003.png')#logoSm
        a(href="/") 
          h3#return.return â† return home
    include navOnMenus
script(src="/javascripts/resizeHeaderAlt.js")