header#heading.heading
    section
      article.superCenterer
        div#turtle
          img(src='/images/leBistro_logo010.png')#logo
          h1=yelpD
          h1#theTitle #{title}
          small Monday — Sunday, 6a - 3p / 6p - 9:30p | Tel: (360) 681-0202
          <!--h5#subTitle.subTitle Welcome-->
          p#introduction=description
script(src="/javascripts/resizeHeader.js")