extends layout
block content
  include header
  include nav
  include cover
  include sliderReviews
  include menuLauncher
  include comment
  include social
  include thankYou
  include footer
  script(src="/javascripts/emailer.js")
