extends layout
block content
    include headerAlt 
    main.menu.lunchMain
        section.container-fluid.menuCaseWrapper
            article.row.menuCase
                div.col-sm-8.menuTitle
                    include lunchMenu
                    div.shareMenuCase.w100.rightTextAlign
                        a.shareMenu Share
                        include share
    main.later
        section.container-fluid.menuCaseWrapper 
            article.row.menuCase
                div.col-sm-6
                    include breakfastMenu
                div.col-sm-6.redLine
                    include dinnerMenu
    include social
    include thankYou
    include footer