main.container-fluid.sW.thanks.p-0
    section
        article.wrapper.superCenterer.row
            div#item.item.thankYouCase.col-md-6
                h5 Remain in-touch
                h4 Follow, subscribe, like and share!
                h2 Select social media
                div  
                    a(target='_BLANK' href="https://lebistro.tumblr.com").tumblr
                        img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/MzcphckOtgNcfaCWWMTFWTqW' alt='tumblr').socials
                    a(target='_BLANK' href="https://t.me/starbucks/62").telegram
                        img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/jpDAaUblQOXchSJzPKHXRlpS' alt='telegram').socials
                    a(target='_BLANK' href="https://www.gab.com/a").gab
                        img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/OItnYjzufLGGJkjeNfKBnPVF' alt='gab').socials
                    a(target='_BLANK' href="https://www.facebook.com/Starbucks").facebook
                        img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/NMejiZcQHtlvCztevoxgbdwU' alt='facebook').socials
                    a(target='_BLANK' href="mailto:k_lavatai@yahoo.com").email
                        img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/hakXcKyERGfNQzQdLCdJvhwp' alt='email').socials
                    a(target='_BLANK' href="https://twitter.com/home").twitter
                        img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/YJGFsTofAbmgHYoTMyybZBwL' alt='twitter').socials
                h2
                    <br>
                    a(href='mailto:lebistro@waterburyhill.com') lebistro@waterburyhill.com 
                    | <br> (360) 681-0202